.background {
  background-color: black;
  color: lightgrey;
  text-align: center;
}

.card, .text {
  background-color: #DC143C;
  color: lightgrey;
  border-radius: 50px;
  width: 60%;
  left: 50%;
  margin: auto;
  margin-top: 3%;
  padding: 25px 0px 25px 0px;
}

.text {
  background-color: darkgrey;
  color: lightgrey;
  font-family: "Arial Black", Helvetica, sans-serif;
  font-size: 40px;
}

.button-style {
  font-family: 40px;
  margin-top: 10px;
  font-size: 20px;
  background-color: #2196f3;
  color: black;
}
.button-style.twitter {
  background-color: #0084b4;
}
